//google font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


//main-color
$white:#fff;
$black:#000;
$yellow:#ffcc00;



@mixin respond($device){
    @if $device == pad{
        @media (max-width:990px){@content}
    }
    @if $device == phone{
        @media (max-width:600px){@content}
    }
};


// section 標題標籤樣式設定
@mixin title{
width: 100%;
text-align: center;
position: relative;
padding: .5rem;
h1{
   text-transform: uppercase;
   span{
    font-size: .8rem;
   }
   }
&::after{
    content: '';
 height: 3px;
    width: 50px;
       background-color: $yellow;
   position: absolute;
      bottom: 0%;
right: 48%;
                }

};

@mixin i-yellow($font-size){
    font-size: $font-size;
    color: $black;
    transition: all .3s;
    &:hover{
    color: $yellow;
    }
};
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
};


.more-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #ffcc00;
    color: #000;
    font-weight: 700;
    padding: .5rem 1.5rem;
    transition: all .3s ease-in;
    &:hover{
    background-color: #000;
    color: #fff;
    }
}
.more-underline-btn{
          display: inline-block;
          text-decoration: none;
          color: #000;
          font-weight: 700;
          position: relative;
          padding: .3rem 0;
            border-bottom: 3px solid $yellow;
      }
//font-color-yellow
.attention{
    color: #ffcc00;
}
//text-uppercase
.text-upper{
    text-transform: uppercase;
}


                
            
